*{
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin: 0;
    background-image: url(../images/car.jpg);
    background-repeat: no-repeat;
    background-size: 2850px;
    
}


ul{
    margin: auto;
    padding: 0;
    text-decoration: none;
}
li{
    list-style: none;
}
.header-top {
    background-color: #393031;
    color: #85b828;
}

.ber{
    height: 90px;
    display: flex;
    margin-left: 150px;
}
.logo{
    height: 70px;
    width: 70px;
    background-image: url(../images/kcs\ logo.jpg);
    background-position: center ;
    background-size: 70px;
    margin-top: 10px;
}

/*dropdown*/
.dropdown {
    padding: 30px;
    font-size: 20px;
}
.dropdown a{
    color: #fff;
}
.dropdown-menu{
    background-color: #ddd6d6;
    margin: 0;
    padding: 0;
    color: #000;
}
.ber-img-1{
    height: 300px;
    width: 400px;
    background-image: url(../images/OUTLANDER\ PLUG-IN\ HYBRID\ SUV.jpg);
    background-size: 350px;
    background-position: center;
    padding: 20px 20px 0 20px;
    background-repeat: no-repeat;
}
.dropdown-menu ul{
    display: flex;
}
.dropdown-menu a{
    color: black;
    
    text-decoration: none;
}
.dropdown-menu h4{
    font-size: 20px;
    font-weight: bold;
    color: #5a5c05;
    padding: 0 0 0 20px;
}
.dropdown-menu p{
    padding: 0 0 0 20px;
    color: #474646;
}
.ber-img-2{
    height: 300px;
    width: 400px;
    background-image: url(../images/2024\ outlander.jpg);
    background-size: 350px;
    background-position: center;
    padding: 20px 20px 0 20px;
    background-repeat: no-repeat;
}
.ber-img-3{
    height: 300px;
    width: 400px;
    background-image: url(../images/2024outlander-sport.jpg);
    background-size: 350px;
    background-position: center;
    padding: 20px 20px 0 20px;
    background-repeat: no-repeat;
}
.ber-img-4{
    height: 290px;
    width: 400px;
    background-image: url(../images/2024-eclipse-cross.png);
    background-size: 300px;
    background-position: center;
    padding: 20px 20px 0 20px;
    background-repeat: no-repeat;
}
.ber-img-5{
    height: 300px;
    width: 400px;
    background-image: url(../images/2024\ migrate.webp);
    background-size: 350px;
    background-position: center;
    padding: 20px 20px 0 20px;
    background-repeat: no-repeat;
}
.ber-img-6{
    height: 300px;
    width: 400px;
    background-image: url(../images/2024MirageG4.png);
    background-size: 350px;
    background-position: center;
    padding: 20px 20px 0 20px;
    background-repeat: no-repeat;
}

/*navber*/
.nav{
    margin: 0;
    padding: 0;
    
}



/*menu*/
.menu{
    margin: 0;
    padding: 0;
    width: 1000px;
    color: #85b828;

}
.flex{
    margin: 150px;
    padding: 0;
    display: block !important;
    color: #85b828;
}
.flex ul{
    text-decoration: none;
}
.flex li{
    width: 500px;
    font-size: 25px;
    list-style: none;
}

.flex a{
    color: #666464;
}
.flex a:hover {
    color: rgb(19, 18, 18);
  }
.img{
    height: 500px;
    width: 60vh;
    background-image: url(../images/shopping-tools.webp);
    background-size: 650px;
    background-position: center;
    padding: 20px 20px 0 20px;
    background-repeat: no-repeat;
}


.menu-option{
    margin-top: 200px;
    display: block !important;
}
.menu-option a{
    color: #666464;
}
.flex a:hover {
    color: rgb(19, 18, 18);
  }
.img-2{
    height: 500px;
    width: 60vh;
    background-image: url(../images/WHAT\ DRIVES\ US.png);
    background-size: 550px;
    background-position: center;
    padding: 20px 20px 0 20px;
    background-repeat: no-repeat;
}
.menu-option-1{
    margin-top: 150px;
    display: block !important;
}
.img-3{
    height: 500px;
    width: 60vh;
    background-image: url(../images/build-and-price.webp);
    background-size: 550px;
    background-position: center;
    padding: 20px 20px 0 20px;
    background-repeat: no-repeat;
}
.menu-option-2{
    margin-top: 250px;
    display: block !important;
}









/*login ber*/
.contain{
    width: 600px;
    height: 450px;
    margin: 0px auto;
    margin-top: 120px;
    background-color: #ffffffcb;   
}
.login{
    margin: 0;
    padding: 20px 40px 20px 40px;
}
.email label{
    font-size: 25px;
}
.password{
    font-size: 25px;
}
.page h1{
    font-size: 50px;
    font-weight: 700;
}
.head{
    
    height: 47px;
    background-color: #0B5ED7;
    margin: 0 0 0 20px;
}

.head a{
    color: #fff;
    text-decoration: none;
}
.sign {
    font-size: 20px;
}
.sign li{
    text-decoration: none;
}
.sign a{
    color: #fff;
}