*{
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
   
}
.container form .error-msg{
    margin: 10px 0;
    display: block;
    background: red;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}